

.formheader {
    
    height: 10vh;
    width: 100%;
    background: rgb(18, 18, 18);
}

.fondo{
    width: auto;
    height: 5em;
    display: flex;
    background: rgb(18, 18, 18);
    justify-content: center;
    align-self: center;
    color: antiquewhite;
}

.fondo h2{
    padding-top: 2%;
}

.estado{
    background-color: rgb(240, 22, 18);
}

.respuesta{
    display: flex;
    
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

.table table-dark{
    background: violet;
}

/*----------PAGINA CONSULTA---------*/

a:link {text-decoration: none !important;}
a:visited {text-decoration: none!important;}
a:hover {text-decoration: none !important;
        color:#e8e8e8}
a:active {text-decoration: none !important;}
a{
    color: #e8e8e8;
    font-weight: 600;
}



            