{% extends 'dashboard/base.html' %}

{% block titulo %} SOCIOS {% endblock %}

{% block  content%}

<div class="clientes_totales">
    <div class="titulocliente">
        <p>CLIENTES TOTALES</p>
    </div>
    <table class="table table-dark table-hover">
        
        <thead>
             
        <tr class="table-danger"></tr>
       
            <th scope="col" >ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">INICIO</th>
            <th scope="col">VENCIMIENTO</th>
            <th scope="col">CUOTA</th>
            <th scope="col">ESTADO</th>
            
        </tr>
        </thead>
        
        <tbody>
            {% for cliente in clientes %}
            <tr>
                
                <th scope="row">{{cliente.id}}</th>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.inicio}}</td>
                <td>{{cliente.vencimiento}}</td>
                <td>{{cliente.cuota}}</td>
                <td class="estado">{{cliente.estado}}</td>
            </tr>
            {% endfor %}
    </table>
    <div class="control">
        
        {% if clientes.has_previous %}
            <div class="previo"><a href="?page={{clientes.previous_page_number}}">Anterior</a></div>
        {% endif%} 
        {% if clientes.has_next %}
            <div class="siguente"><a href="?page={{clientes.next_page_number}}">Siguiente</a></div>
        {% endif%} 
    </div>
</div>

{% endblock  %}